Repository 0xPolygonHermez/zkevm-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arnaubennassar, @Mikelle, @ARR552, @tclemos, @ToniRamirezM, @OBrezhniev

.github/CODEOWNERS:

*.md                    @arnaubennassar
aggregator/             @Mikelle @ARR552
cmd/                 
db/                     @Mikelle @tclemos
etherman/               @ARR552 @tclemos
jsonrpc/                @tclemos @arnaubennassar
mocks/                  @tclemos
pool/                   @Mikelle @tclemos
sequencer/              @Mikelle @arnaubennassar
state/                  @ToniRamirezM @OBrezhniev
synchronizer/           @ARR552 @tclemos
test/                   @arnaubennassar @tclemos

context and RawTxsData
  etherman/etherman.go
  state/batch.go
Owners: @ARR552, @tclemos, @ToniRamirezM, @OBrezhniev

replacing LegacyTx by Transaction
  aggregator/aggregator.go
  aggregator/prover.go
  jsonrpc/eth.go
  jsonrpc/types.go
  mocks/objects.go
  mocks/pool.go
  mocks/state.go
  pool/transaction.go
  sequencer/sequencer.go
  state/batch.go
  state/batchprocessor.go
  state/state.go
Owners: @Mikelle, @ARR552, @tclemos, @arnaubennassar, @ToniRamirezM, @OBrezhniev

Integrate all components and configurations (#46)
  aggregator/aggregator.go
  aggregator/config.go
  aggregator/syncronizer.go
  cmd/main.go
  config/config.go
  etherman/config.go
  etherman/etherman.go
  jsonrpc/types.go
  log/config.go
  log/log.go
  log/log_test.go
  mocks/state.go
  pool/transaction.go
  rlp/hash.go
  sequencer/config.go
  sequencer/sequencer.go
  sequencer/synchronizer.go
  state/batch.go
  state/batchprocessor.go
  state/state.go
  synchronizer/synchronizer.go
Owners: @Mikelle, @ARR552, @tclemos, @arnaubennassar, @ToniRamirezM, @OBrezhniev

Illuminate the code, fuck my life
  aggregator/aggregator.go
  cmd/main.go
  config/config.go
  jsonrpc/codec.go
  jsonrpc/encoding.go
  jsonrpc/handler.go
  jsonrpc/hex/hex.go
  jsonrpc/server.go
  jsonrpc/types.go
  mocks/objects.go
  mocks/state.go
  pool/transaction.go
  rlp/hash.go
  sequencer/sequencer.go
  state/batch.go
  state/batchprocessor.go
  state/runtime/evm/stack.go
  state/state.go
  synchronizer/synchronizer.go
  test/db/dbutils.go
Owners: @Mikelle, @ARR552, @tclemos, @arnaubennassar, @ToniRamirezM, @OBrezhniev

WIP
  sequencer/sequencer.go
  state/batch.go
Owners: @Mikelle, @arnaubennassar, @ToniRamirezM, @OBrezhniev

WIP
  aggregator/aggregator.go
  aggregator/config.go
  aggregator/prover.go
  config/config.go
  db/db.go
  etherman/config.go
  etherman/etherman.go
  jsonrpc/config.go
  jsonrpc/hex/hex.go
  jsonrpc/types.go
  log/log_test.go
  mocks/pool.go
  mocks/state.go
  pool/pool.go
  pool/transaction.go
  sequencer/config.go
  sequencer/sequencer.go
  state/batch.go
  state/batchprocessor.go
  state/proof.go
  state/runtime/evm/memory.go
  state/state.go
  synchronizer/synchronizer.go
Owners: @Mikelle, @ARR552, @tclemos, @arnaubennassar, @ToniRamirezM, @OBrezhniev

finally
  jsonrpc/codec.go
  jsonrpc/encoding.go
  jsonrpc/errors.go
  jsonrpc/eth.go
  jsonrpc/handler.go
  jsonrpc/hex/hex.go
  jsonrpc/server.go
  jsonrpc/types.go
  log/config.go
  synchronizer/synchronizer.go
  test/db/dbutils.go
Owners: @tclemos, @arnaubennassar, @ARR552

decrypt key from file to be used in etherman
  aggregator/config.go
  etherman/config.go
  etherman/etherman.go
  etherman/keystore.go
  sequencer/config.go
Owners: @Mikelle, @ARR552, @tclemos, @arnaubennassar
