Repository 0xPolygonHermez/zkevm-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arnaubennassar, @Mikelle, @KonradIT, @tclemos, @ARR552, @cool-develope, @ToniRamirezM

.github/CODEOWNERS:

*.md                    @arnaubennassar
aggregator/             @Mikelle @KonradIT
cmd/                    @tclemos
db/                     @Mikelle @tclemos
docs/                   @arnaubennassar
etherman/               @ARR552 @cool-develope
jsonrpc/                @tclemos @KonradIT
pool/                   @Mikelle @tclemos @KonradIT
sequencer/              @Mikelle @ToniRamirezM @KonradIT
state/                  @ToniRamirezM @tclemos
synchronizer/           @ARR552 @cool-develope
test/                   @tclemos

Add -v flag to tests
  Makefile
Owners: none

Use CONFIG_MODE=test for E2E test (#1117)
  .github/workflows/test-e2e.yml
  Makefile
Owners: none

Include logic in a loop
  sequencer/batchbuilder.go
Owners: @Mikelle, @ToniRamirezM, @KonradIT

Fix lint
  tools/executor/main.go
Owners: none

Add executor tool
  tools/executor/README.md
  tools/executor/docker-compose.yml
  tools/executor/genesis/default-genesis.json
  tools/executor/main.go
  tools/executor/prover.config.json
  tools/executor/vectors/fail-deploy-uniswap-repeated-nonce.json
Owners: @arnaubennassar

Fix lint
  tools/executor/main.go
Owners: none

Fix lint
  tools/executor/main.go
Owners: none

WIP
  state/state.go
  test/executor/README.md
  test/executor/docker-compose.yml
  test/executor/genesis/default-genesis.json
  test/executor/main.go
  test/executor/prover.config.json
  test/executor/vectors/fail-deploy-uniswap-repeated-nonce.json
Owners: @ToniRamirezM, @tclemos

Add executor tool
  test/executor/README.md
  test/executor/docker-compose.yml
  test/executor/genesis/default-genesis.json
  test/executor/main.go
  test/executor/prover.config.json
  test/executor/vectors/fail-deploy-uniswap-repeated-nonce.json
Owners: @tclemos

Fix lint
  tools/executor/main.go
Owners: none

WIP
  sequencer/config.go
  sequencer/sequencesender.go
Owners: @Mikelle, @ToniRamirezM, @KonradIT

Feature/executor shooter (#1116)
  state/state.go
  tools/executor/README.md
  tools/executor/docker-compose.yml
  tools/executor/genesis/default-genesis.json
  tools/executor/main.go
  tools/executor/prover.config.json
  tools/executor/vectors/fail-deploy-uniswap-repeated-nonce.json
Owners: @ToniRamirezM, @tclemos, @arnaubennassar
