Repository 0xPolygonHermez/zkevm-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team

refactor get wip batch when starting sequencer/finalizer
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/sequencer.go
  sequencer/sequencer_test.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team

remove sharedResourcesMux. reduce logs with info level
  sequencer/finalizer.go
  sequencer/finalizer_test.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team

fix lint
  synchronizer/l1_parallel_sync/l1_etherman_interface.go
  synchronizer/l1_parallel_sync/l1_rollup_info_producer.go
  synchronizer/l1_parallel_sync/l1_sync_orchestration.go
  synchronizer/synchronizer.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team

fix ExecuteBatchV2
  docker-compose.yml
  state/batchV2.go
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team

revert executor image
  docker-compose.yml
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team

linter
  etherman/etherman.go
  etherman/etherman_test.go
  etherman/types.go
  synchronizer/actions/etrog/processor_l1_info_tree_update_test.go
  synchronizer/synchronizer_test.go
Owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team

fix PR comments
  synchronizer/l1_parallel_sync/l1_etherman_interface.go
  synchronizer/l1_parallel_sync/l1_rollup_info_producer.go
  synchronizer/l1_parallel_sync/l1_rollup_info_producer_test.go
  synchronizer/l1_parallel_sync/l1_worker_etherman.go
  synchronizer/l1_parallel_sync/l1_worker_etherman_test.go
  synchronizer/l1_parallel_sync/l1_workers.go
  synchronizer/l1_parallel_sync/mock_l1_parallel_etherman_interface.go
  synchronizer/synchronizer.go
  test/Makefile
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team

docker + genesis
  config/environments/local/local.genesis.config.json
  test/config/test.genesis.config.json
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team

WIP
  db/migrations/state/0013.sql
Owners: @0xPolygonHermez/zkevm-node-team

add l2 tx hash to process tx response
  state/convertersV2.go
  state/types.go
Owners: @0xPolygonHermez/zkevm-node-team

remove consts for numbers
  sequencer/finalizer.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team

fix multi tx per block
  test/e2e/debug_test.go
Owners: @0xPolygonHermez/zkevm-node-team

restored address as PR comments require
  synchronizer/l1_parallel_sync/l1_worker_etherman_test.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team

fix multi tx per block
  test/e2e/debug_test.go
Owners: @0xPolygonHermez/zkevm-node-team

udpate hashdb proto (#2833)
  merkletree/hashdb/hashdb.pb.go
  merkletree/hashdb/hashdb_grpc.pb.go
  merkletree/tree.go
  proto/src/proto/hashdb/v1/hashdb.proto
Owners: @0xPolygonHermez/zkevm-node-team

Refactor finalizer: remove use of f.processRequest, move getLastBatchNumAndOldStateRoot function (#2834)
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/sequencer.go
  sequencer/txsorted_list.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team

fix e2e group 5 (#2838)
  test/e2e/debug_test.go
Owners: @0xPolygonHermez/zkevm-node-team

Refactor finalizer: remove sharedResourcesMux, reduce logs with info level (#2835)
  sequencer/finalizer.go
  sequencer/finalizer_test.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team

prover v4.0.0-RC1
  docker-compose.yml
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team

L1InfoTreeIndex is 32bits
  state/interfaces.go
  state/l1infotree.go
  state/pgstatestorage/l1infotree.go
Owners: @0xPolygonHermez/zkevm-node-team

change state to control the new hash for ETROG blocks
  state/forkid.go
  state/l2block.go
  state/pgstatestorage/forkid.go
  state/pgstatestorage/l2block.go
Owners: @0xPolygonHermez/zkevm-node-team

fix linter issues
  state/forkid.go
  state/interfaces.go
  state/l2block.go
Owners: @0xPolygonHermez/zkevm-node-team

revert WS logs back to debug level
  jsonrpc/endpoints_eth.go
  jsonrpc/query.go
  state/l2block.go
  state/pgstatestorage.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team

move forkId control to state storage
  state/forkid.go
  state/interfaces.go
  state/pgstatestorage/forkid.go
  state/pgstatestorage/forkid_test.go
  state/pgstatestorage/l2block.go
Owners: @0xPolygonHermez/zkevm-node-team

add L1InfoTreeIndexType
  state/interfaces.go
  state/l1infotree.go
  state/pgstatestorage/l1infotree.go
  state/pgstatestorage/pgstatestorage_test.go
Owners: @0xPolygonHermez/zkevm-node-team

fix lint
  state/l1infotree.go
Owners: @0xPolygonHermez/zkevm-node-team

etrog: L1InfoTreeIndex is 32bits (#2844)
  state/interfaces.go
  state/l1infotree.go
  state/pgstatestorage/l1infotree.go
  state/pgstatestorage/pgstatestorage_test.go
Owners: @0xPolygonHermez/zkevm-node-team

l2 hash
  db/migrations/state/0013.sql
  db/migrations/state/0013_test.go
  state/batch.go
  state/batchV2.go
  state/pgstatestorage/l2block.go
  state/transaction.go
Owners: @0xPolygonHermez/zkevm-node-team

expose SkipFirstChangeL2Block
  state/batchV2.go
  state/types.go
Owners: @0xPolygonHermez/zkevm-node-team

expose SkipFirstChangeL2Block (#2853)
  state/batchV2.go
  state/types.go
Owners: @0xPolygonHermez/zkevm-node-team

decoding etrog batches
  state/encoding_batch_v2.go
  state/encoding_batch_v2_test.go
Owners: @0xPolygonHermez/zkevm-node-team

add encoding batch
  state/encoding_batch_v2.go
  state/encoding_batch_v2_test.go
Owners: @0xPolygonHermez/zkevm-node-team

add tests
  merkletree/key.go
  merkletree/key_test.go
  merkletree/split.go
  merkletree/tree.go
  state/test/l2txhash_test.go
  state/transaction.go
Owners: @0xPolygonHermez/zkevm-node-team

linter
  db/migrations/state/0013.sql
  state/transaction.go
Owners: @0xPolygonHermez/zkevm-node-team

fix sql
  state/pgstatestorage/l2block.go
Owners: @0xPolygonHermez/zkevm-node-team

fix test
  db/migrations/state/0013_test.go
Owners: @0xPolygonHermez/zkevm-node-team

fix no sender
  state/transaction.go
Owners: @0xPolygonHermez/zkevm-node-team

fix no sender
  state/transaction.go
Owners: @0xPolygonHermez/zkevm-node-team

fix test
  db/migrations/state/0013_test.go
Owners: @0xPolygonHermez/zkevm-node-team

fix test
  merkletree/split_test.go
Owners: @0xPolygonHermez/zkevm-node-team

.github/CODEOWNERS:

# zkevm-node-team
**/*.md                 @0xPolygonHermez/zkevm-node-team
ci/                     @0xPolygonHermez/zkevm-node-team
cmd/                    @0xPolygonHermez/zkevm-node-team
config/                 @0xPolygonHermez/zkevm-node-team
db/                     @0xPolygonHermez/zkevm-node-team
docs/                   @0xPolygonHermez/zkevm-node-team
etherman/               @0xPolygonHermez/zkevm-node-team
proto/                  @0xPolygonHermez/zkevm-node-team
merkletree/             @0xPolygonHermez/zkevm-node-team
pool/                   @0xPolygonHermez/zkevm-node-team
state/                  @0xPolygonHermez/zkevm-node-team
test/                   @0xPolygonHermez/zkevm-node-team

# zkevm-agg-seq
aggregator/             @0xPolygonHermez/zkevm-agg-seq-team
sequencer/              @0xPolygonHermez/zkevm-agg-seq-team
sequencesender/         @0xPolygonHermez/zkevm-agg-seq-team

# zkevm-bridge-sync-rpc
ethtxmanager/           @0xPolygonHermez/zkevm-bridge-sync-rpc-team
gasprice/               @0xPolygonHermez/zkevm-bridge-sync-rpc-team
jsonrpc/                @0xPolygonHermez/zkevm-bridge-sync-rpc-team
l1infotree/             @0xPolygonHermez/zkevm-bridge-sync-rpc-team
synchronizer/           @0xPolygonHermez/zkevm-bridge-sync-rpc-team
