Repository 0xPolygonHermez/zkevm-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team

review state.EstimateGas validations and formula
  state/errors.go
  state/transaction.go
  test/benchmarks/sequencer/common/transactions/transactions.go
  test/e2e/jsonrpc2_test.go
Owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-agg-seq-team

fix linter issues
  state/transaction.go
Owners: @0xPolygonHermez/zkevm-node-team

compute wip batch during stream delta calculation
  sequencer/interfaces.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  state/datastream.go
  state/pgstatestorage.go
  tools/datastreamer/main.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-node-team

do not generate GER update for WIP Batch
  state/datastream.go
Owners: @0xPolygonHermez/zkevm-node-team

add forced batches
  state/encoding_batch_v2.go
  state/encoding_batch_v2_test.go
Owners: @0xPolygonHermez/zkevm-node-team

add forced batches
  state/encoding_batch_v2.go
  state/encoding_batch_v2_test.go
Owners: @0xPolygonHermez/zkevm-node-team

fix lint
  state/encoding_batch_v2.go
Owners: @0xPolygonHermez/zkevm-node-team

Compute wip batch during stream delta calculation (#2860)
  sequencer/interfaces.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  state/datastream.go
  state/pgstatestorage.go
  tools/datastreamer/main.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-node-team

Compute wip batch during stream delta calculation (#2860)
  sequencer/interfaces.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  state/datastream.go
  state/pgstatestorage.go
  tools/datastreamer/main.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-node-team

fix camelCase to snake_function that fails in MAC
  test/Makefile
Owners: @0xPolygonHermez/zkevm-node-team

fix camelCase to snake_function that fails in MAC (#2862)
  test/Makefile
Owners: @0xPolygonHermez/zkevm-node-team

fix datastream bool
  state/datastream.go
Owners: @0xPolygonHermez/zkevm-node-team

fix datastream bool (#2863)
  state/datastream.go
Owners: @0xPolygonHermez/zkevm-node-team

fix datastream bool
  state/datastream.go
Owners: @0xPolygonHermez/zkevm-node-team

improve unittest
  state/encoding_batch_v2_test.go
Owners: @0xPolygonHermez/zkevm-node-team

fix unit test
  state/pgstatestorage/forkid_test.go
Owners: @0xPolygonHermez/zkevm-node-team

Compute wip batch during stream delta calculation (#2861)
  sequencer/interfaces.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  state/datastream.go
  state/pgstatestorage.go
  tools/datastreamer/main.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-node-team

compute wip batch during stream delta calculation
  sequencer/interfaces.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  state/datastream.go
  state/interfaces.go
  state/pgstatestorage/datastream.go
  tools/datastreamer/main.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-node-team

compute wip batch during stream delta calculation (#2864)
  sequencer/interfaces.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  state/datastream.go
  state/interfaces.go
  state/pgstatestorage/datastream.go
  tools/datastreamer/main.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-node-team

fix unit tests
  pool/pool_test.go
  state/pgstatestorage/pgstatestorage_test.go
Owners: @0xPolygonHermez/zkevm-node-team

Keep siblings in memory + AddLeaf + tests
  l1infotree/tree.go
  l1infotree/tree_test.go
  state/l1infotree.go
  test/vectors/l1infotree.go
  test/vectors/src/merkle-tree/l1-info-tree/proof-vectors.json
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team

l1infotree state and synchronizer
  cmd/run.go
  l1infotree/tree.go
  pool/pool_test.go
  sequencer/closingsignalsmanager_test.go
  sequencer/dbmanager_test.go
  state/interfaces.go
  state/l1infotree.go
  state/pgstatestorage/l1infotree.go
  state/pgstatestorage/pgstatestorage_test.go
  state/state.go
  state/state_test.go
  synchronizer/actions/etrog/processor_l1_info_tree_update_test.go
  test/operations/manager.go
Owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-agg-seq-team

add unit test to ForceL2BlockHash
  state/l2block_test.go
Owners: @0xPolygonHermez/zkevm-node-team

linter
  cmd/run.go
  l1infotree/tree_test.go
  state/l1infotree.go
  state/state.go
  state/state_test.go
  synchronizer/actions/etrog/processor_l1_info_tree_update_test.go
  tools/state/reprocess_cmd.go
Owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team

udpate DS lib
  go.mod
  go.sum
Owners: none

udpate DS lib
  go.mod
  go.sum
Owners: none

fix force batches e2e tests
  test/e2e/forced_batches_vector_shared.go
Owners: @0xPolygonHermez/zkevm-node-team

udpate DS lib (#2867)
  go.mod
  go.sum
Owners: none

udpate DS lib (#2866)
  go.mod
  go.sum
Owners: none

fix: clead db before run the test
  state/pgstatestorage/pgstatestorage_test.go
Owners: @0xPolygonHermez/zkevm-node-team

Compute and store l2 tx hash (#2855)
  db/migrations/state/0013.sql
  db/migrations/state/0013_test.go
  merkletree/key.go
  merkletree/key_test.go
  merkletree/split.go
  merkletree/split_test.go
  merkletree/tree.go
  state/batch.go
  state/batchV2.go
  state/pgstatestorage/l2block.go
  state/test/l2txhash_test.go
  state/transaction.go
Owners: @0xPolygonHermez/zkevm-node-team

create L2Block and L2Header structs in the state
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_zkevm.go
  jsonrpc/mocks/mock_state.go
  jsonrpc/types/interfaces.go
  jsonrpc/types/types.go
  pool/interfaces.go
  sequencer/dbmanager.go
  sequencer/interfaces.go
  sequencer/mock_db_manager.go
  sequencer/mock_state.go
  state/genesis.go
  state/interfaces.go
  state/l2block.go
  state/l2block_test.go
  state/pgstatestorage/l2block.go
  state/pgstatestorage/pgstatestorage_test.go
  state/state.go
  state/state_test.go
  state/transaction.go
  synchronizer/interfaces.go
  synchronizer/mock_state.go
  test/operations/manager.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-agg-seq-team

fix CopyHeader and unit tests
  jsonrpc/endpoints_eth_test.go
  jsonrpc/endpoints_zkevm_test.go
  jsonrpc/server_test.go
  state/l2block.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team

fix synchronizer test; add json marshal and unmarshal support to L2Header
  state/l2block.go
  synchronizer/synchronizer_test.go
Owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team

add debug logs for test timeout investigation
  state/pgstatestorage/l2block.go
Owners: @0xPolygonHermez/zkevm-node-team

add debug logs for test timeout investigation
  state/pgstatestorage/forkid.go
Owners: @0xPolygonHermez/zkevm-node-team

add debug logs for test timeout investigation
  sequencer/closingsignalsmanager_test.go
  state/forkid.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-node-team

add debug logs for test timeout investigation
  state/pgstatestorage/forkid.go
Owners: @0xPolygonHermez/zkevm-node-team

fix tests
  sequencer/dbmanager_test.go
  tools/state/reprocess_cmd.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-node-team

Revert "add debug logs for test timeout investigation"
  state/pgstatestorage/l2block.go
Owners: @0xPolygonHermez/zkevm-node-team

.github/CODEOWNERS:

# zkevm-node-team
**/*.md                 @0xPolygonHermez/zkevm-node-team
ci/                     @0xPolygonHermez/zkevm-node-team
cmd/                    @0xPolygonHermez/zkevm-node-team
config/                 @0xPolygonHermez/zkevm-node-team
db/                     @0xPolygonHermez/zkevm-node-team
docs/                   @0xPolygonHermez/zkevm-node-team
etherman/               @0xPolygonHermez/zkevm-node-team
proto/                  @0xPolygonHermez/zkevm-node-team
merkletree/             @0xPolygonHermez/zkevm-node-team
pool/                   @0xPolygonHermez/zkevm-node-team
state/                  @0xPolygonHermez/zkevm-node-team
test/                   @0xPolygonHermez/zkevm-node-team

# zkevm-agg-seq
aggregator/             @0xPolygonHermez/zkevm-agg-seq-team
sequencer/              @0xPolygonHermez/zkevm-agg-seq-team
sequencesender/         @0xPolygonHermez/zkevm-agg-seq-team

# zkevm-bridge-sync-rpc
ethtxmanager/           @0xPolygonHermez/zkevm-bridge-sync-rpc-team
gasprice/               @0xPolygonHermez/zkevm-bridge-sync-rpc-team
jsonrpc/                @0xPolygonHermez/zkevm-bridge-sync-rpc-team
l1infotree/             @0xPolygonHermez/zkevm-bridge-sync-rpc-team
synchronizer/           @0xPolygonHermez/zkevm-bridge-sync-rpc-team
