Repository 0xPolygonHermez/zkevm-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team

Revert "add debug logs for test timeout investigation"
  state/pgstatestorage/forkid.go
Owners: @0xPolygonHermez/zkevm-node-team

Revert "add debug logs for test timeout investigation"
  sequencer/closingsignalsmanager_test.go
  state/forkid.go
Owners: @0xPolygonHermez/zkevm-agg-seq-team, @0xPolygonHermez/zkevm-node-team

Revert "add debug logs for test timeout investigation"
  state/pgstatestorage/forkid.go
Owners: @0xPolygonHermez/zkevm-node-team

fix NewL2Block
  state/l2block.go
Owners: @0xPolygonHermez/zkevm-node-team

feat: implemented mock tests for txpool_status
  jsonrpc/endpoints_txpool.go
  jsonrpc/endpoints_txpool_test.go
  jsonrpc/mocks/mock_pool.go
  jsonrpc/server_test.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team

add test to check gas estimation when from address is not set but the tx has a cost
  jsonrpc/endpoints_eth.go
  state/state.go
  state/transaction.go
  test/e2e/jsonrpc2_test.go
  test/e2e/shared.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team

fix linter issues
  jsonrpc/endpoints_eth_test.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team

new prover image
  docker-compose.yml
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team

docker image v4.0.0-RC2
  docker-compose.yml
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team

index type uint32
  l1infotree/tree.go
  state/interfaces.go
  state/l1infotree.go
  state/pgstatestorage/l1infotree.go
  state/pgstatestorage/pgstatestorage_test.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team

wip: isolate syncTrustedState code
  synchronizer/actions/incaberry/sync_trusted_state.go
  synchronizer/interfaces.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team

change comment
  state/encoding_batch_v2.go
Owners: @0xPolygonHermez/zkevm-node-team

fix unittest
  synchronizer/actions/incaberry/sync_trusted_state.go
  synchronizer/synchronizer.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team

use prover v4.0.0-RC1
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team

Feature/#2840 l1 info root (#2865)
  cmd/run.go
  l1infotree/tree.go
  l1infotree/tree_test.go
  pool/pool_test.go
  sequencer/closingsignalsmanager_test.go
  sequencer/dbmanager_test.go
  state/interfaces.go
  state/l1infotree.go
  state/pgstatestorage/l1infotree.go
  state/pgstatestorage/pgstatestorage_test.go
  state/state.go
  state/state_test.go
  synchronizer/actions/etrog/processor_l1_info_tree_update_test.go
  test/operations/manager.go
  test/vectors/l1infotree.go
  test/vectors/src/merkle-tree/l1-info-tree/proof-vectors.json
  tools/state/reprocess_cmd.go
Owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-agg-seq-team

add new error for batches that starts with Tx (without changeL2Block)
  state/encoding_batch_v2.go
  state/encoding_batch_v2_test.go
Owners: @0xPolygonHermez/zkevm-node-team

fix lint
  state/encoding_batch_v2.go
Owners: @0xPolygonHermez/zkevm-node-team

update executor proto
  cmd/dumpstate.go
  cmd/run.go
  config/network.go
  config/network_test.go
  pool/pool_test.go
  proto/src/proto/executor/v1/executor.proto
  state/batchV2.go
  state/genesis.go
  state/genesis_test.go
  state/runtime/executor/errors.go
  state/runtime/executor/executor.pb.go
  state/runtime/executor/executor_grpc.pb.go
  state/runtime/runtime.go
  state/state_test.go
  state/types.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
  test/e2e/forced_batches_test.go
  test/e2e/forced_batches_vector_shared.go
  test/e2e/state_test.go
  test/operations/manager.go
  test/vectors/src/state-transition/etrog/balances.json
  test/vectors/statetransition_v2.go
  tools/datastreamer/main.go
Owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team

update doc
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
Owners: @0xPolygonHermez/zkevm-node-team

etrog: Decode/coding etrog batches (#2854)
  state/encoding_batch_v2.go
  state/encoding_batch_v2_test.go
Owners: @0xPolygonHermez/zkevm-node-team

reventing change of zkevm-prover
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team

update executor proto (#2872)
  cmd/dumpstate.go
  cmd/run.go
  config/network.go
  config/network_test.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  pool/pool_test.go
  proto/src/proto/executor/v1/executor.proto
  state/batchV2.go
  state/genesis.go
  state/genesis_test.go
  state/runtime/executor/errors.go
  state/runtime/executor/executor.pb.go
  state/runtime/executor/executor_grpc.pb.go
  state/runtime/runtime.go
  state/state_test.go
  state/types.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
  test/e2e/forced_batches_test.go
  test/e2e/forced_batches_vector_shared.go
  test/e2e/state_test.go
  test/operations/manager.go
  test/vectors/src/state-transition/etrog/balances.json
  test/vectors/statetransition_v2.go
  tools/datastreamer/main.go
Owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-bridge-sync-rpc-team

prover image v4.0.0-RC3
  docker-compose.yml
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team

remove address check from estimate gas; improve tests
  state/transaction.go
  test/e2e/jsonrpc2_test.go
Owners: @0xPolygonHermez/zkevm-node-team

docs: refine the syntax and make it more clean and clear.
  docs/design/synchronizer/l1_synchronization.md
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team

feat: e2e test for txpool_status
  test/e2e/jsonrpc1_test.go
Owners: @0xPolygonHermez/zkevm-node-team

docs: txpool_status docs
  docs/json-rpc-endpoints.md
Owners: @0xPolygonHermez/zkevm-node-team

chore: revert changes to limit PR scope to txpool_status
  .gitignore
  Makefile
  test/Makefile
  tools/executor/main.go
Owners: @0xPolygonHermez/zkevm-node-team

ForcedBatch fields added
  etherman/etherman.go
  etherman/etherman_test.go
  etherman/types/sequence.go
Owners: @0xPolygonHermez/zkevm-node-team

wip
  synchronizer/l2_sync/l2_shared/sync_trusted_state.go
  synchronizer/l2_sync/l2_shared/sync_trusted_state_process_batch.go
  synchronizer/l2_sync/l2_sync_etrog/sync_trusted_state.go
  synchronizer/l2_sync/l2_sync_incaberry/sync_trusted_state.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team

fix forkID for tests
  test/e2e/forced_batches_vector_shared.go
  test/operations/manager.go
Owners: @0xPolygonHermez/zkevm-node-team

fix test compilation
  state/pgstatestorage/forkid_test.go
Owners: @0xPolygonHermez/zkevm-node-team

sequencer etrog draft 1
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencer/closingsignalsmanager.go
  sequencer/config.go
  sequencer/dbmanager.go
  sequencer/errors.go
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/interfaces.go
  sequencer/mock_db_manager.go
  sequencer/mock_state.go
  sequencer/mock_worker.go
  sequencer/sequencer.go
  sequencer/worker.go
  sequencer/worker_test.go
  sequencesender/sequencesender.go
  state/batchV2.go
  state/helper.go
  state/interfaces.go
  state/pgstatestorage/batch.go
  state/pgstatestorage/l1infotree.go
  state/pgstatestorage/l2block.go
  state/transaction.go
  state/types.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
  test/docker-compose.yml
Owners: @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-agg-seq-team

revert WS logs back to debug level (#2847)
  jsonrpc/endpoints_eth.go
  jsonrpc/query.go
  state/l2block.go
  state/pgstatestorage.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team

review Estimate Gas validations and Formulas (#2856)
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  state/errors.go
  state/state.go
  state/transaction.go
  test/benchmarks/sequencer/common/transactions/transactions.go
  test/e2e/jsonrpc2_test.go
  test/e2e/shared.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-agg-seq-team

change state to control the new hash for ETROG blocks (#2845)
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm_test.go
  jsonrpc/mocks/mock_state.go
  jsonrpc/server_test.go
  jsonrpc/types/interfaces.go
  jsonrpc/types/types.go
  pool/interfaces.go
  pool/pool_test.go
  sequencer/dbmanager.go
  sequencer/dbmanager_test.go
  sequencer/interfaces.go
  sequencer/mock_db_manager.go
  sequencer/mock_state.go
  state/forkid.go
  state/genesis.go
  state/interfaces.go
  state/l2block.go
  state/l2block_test.go
  state/pgstatestorage/forkid.go
  state/pgstatestorage/forkid_test.go
  state/pgstatestorage/l2block.go
  state/pgstatestorage/pgstatestorage_test.go
  state/state.go
  state/state_test.go
  state/transaction.go
  synchronizer/interfaces.go
  synchronizer/mock_state.go
  synchronizer/synchronizer_test.go
  test/e2e/forced_batches_vector_shared.go
  test/operations/manager.go
  tools/state/reprocess_cmd.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team, @0xPolygonHermez/zkevm-agg-seq-team

improve OOC and OOG errors (#2774)
  jsonrpc/endpoints_eth.go
  pool/pool.go
  state/runtime/runtime.go
  test/contracts/auto/triggerErrors.sol
  test/contracts/bin/triggerErrors/triggerErrors.go
  test/e2e/jsonrpc1_test.go
  test/e2e/jsonrpc2_test.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team

cherry pick the latest WS improvements into develop (#2819)
  jsonrpc/endpoints_debug.go
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  jsonrpc/handler.go
  jsonrpc/interfaces.go
  jsonrpc/mock_storage.go
  jsonrpc/query.go
  jsonrpc/server.go
  jsonrpc/storage.go
  jsonrpc/wsconn.go
  state/infinite.go
  state/interfaces.go
  state/l2block.go
  state/pgstatestorage/pgstatestorage.go
  state/queue.go
  state/state.go
Owners: @0xPolygonHermez/zkevm-bridge-sync-rpc-team, @0xPolygonHermez/zkevm-node-team

.github/CODEOWNERS:

# zkevm-node-team
**/*.md                 @0xPolygonHermez/zkevm-node-team
ci/                     @0xPolygonHermez/zkevm-node-team
cmd/                    @0xPolygonHermez/zkevm-node-team
config/                 @0xPolygonHermez/zkevm-node-team
db/                     @0xPolygonHermez/zkevm-node-team
docs/                   @0xPolygonHermez/zkevm-node-team
etherman/               @0xPolygonHermez/zkevm-node-team
proto/                  @0xPolygonHermez/zkevm-node-team
merkletree/             @0xPolygonHermez/zkevm-node-team
pool/                   @0xPolygonHermez/zkevm-node-team
state/                  @0xPolygonHermez/zkevm-node-team
test/                   @0xPolygonHermez/zkevm-node-team

# zkevm-agg-seq
aggregator/             @0xPolygonHermez/zkevm-agg-seq-team
sequencer/              @0xPolygonHermez/zkevm-agg-seq-team
sequencesender/         @0xPolygonHermez/zkevm-agg-seq-team

# zkevm-bridge-sync-rpc
ethtxmanager/           @0xPolygonHermez/zkevm-bridge-sync-rpc-team
gasprice/               @0xPolygonHermez/zkevm-bridge-sync-rpc-team
jsonrpc/                @0xPolygonHermez/zkevm-bridge-sync-rpc-team
l1infotree/             @0xPolygonHermez/zkevm-bridge-sync-rpc-team
synchronizer/           @0xPolygonHermez/zkevm-bridge-sync-rpc-team
