Repository 0xPolygonHermez/zkevm-node, pull requests merged in 2024-02, with the labels that each got.

#3178 Fix/rom error (#3177)
  state/batchV2.go
Labels: cla-signed, cherry-pick

#3169 synchronizer: update fromTrusted fix cache update
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_sync_test.go
  synchronizer/l2_sync/l2_shared/trusted_state.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync_test.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3183 Cherry-pick #3169 synchronizer: update fromTrusted fix cache update (#3169)
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_sync_test.go
  synchronizer/l2_sync/l2_shared/trusted_state.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync_test.go
Labels: synchronizer, cla-signed, cherry-pick, zkevm-bridge-sync-rpc

#3175 Feature/3173 sync trusted state in networks previous to ETROG
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/forkid.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/mocks/sync_trusted_state_executor.go
  synchronizer/common/syncinterfaces/state.go
  synchronizer/common/syncinterfaces/sync_trusted_state_executor.go
  synchronizer/l2_sync/l2_shared/mocks/state_sync_trusted_state_executor_selector.go
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_selector.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_selector_test.go
  synchronizer/l2_sync/l2_shared/trusted_batches_retrieve.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_incaberry/sync_trusted_state.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3165 Fix/3164 eth syncing dont return expected values
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/l2block.go
  state/pgstatestorage/syncinginfo.go
  state/syncinginfo.go
  state/syncinginfo_test.go
Labels: state, rpc, cla-signed, zkevm-bridge-sync-rpc

#3186 fix l2 block gas price to use value returned by the executor
  config/config_test.go
  config/default.go
  config/environments/cardona/node.config.toml
  config/environments/local/local.node.config.toml
  config/environments/mainnet/node.config.toml
  config/environments/testnet/node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  jsonrpc/endpoints_eth.go
  state/converters.go
  state/transaction.go
  test/benchmarks/sequencer/common/setup/setup.go
  test/config/test.node.config.toml
Labels: cla-signed

#3137 feat: optimize purge txn pool query
  pool/interfaces.go
  pool/pgpoolstorage/pgpoolstorage.go
  sequencer/interfaces.go
  sequencer/mock_pool.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/transaction.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3192 Fix im state root in data stream for live l2 blocks
  sequencer/datastreamer.go
  sequencer/sequencer.go
Labels: cla-signed

#3191 sync: fix getting URL from contract in compatibility mode, and set sequential by default
  cmd/run.go
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  etherman/etherman.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3188 Fix isSynced function
  event/event.go
  sequencer/finalizer.go
  sequencesender/interfaces.go
  sequencesender/sequencesender.go
  state/pgstatestorage/batch.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3189 Cherry-pick #3181: Add sanity check: last L2 block timestamp in the sequence is also L1BlockTimestampMargin seconds behind "now"
  docker-compose.yml
  etherman/etherman.go
  sequencesender/interfaces.go
  sequencesender/sequencesender.go
  test/docker-compose.yml
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3190 fix l2 block gas limit to use value returned by the executor (#3186)
  config/config_test.go
  config/default.go
  config/environments/cardona/node.config.toml
  config/environments/local/local.node.config.toml
  config/environments/mainnet/node.config.toml
  config/environments/testnet/node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  jsonrpc/endpoints_eth.go
  state/converters.go
  state/transaction.go
  test/benchmarks/sequencer/common/setup/setup.go
  test/config/test.node.config.toml
Labels: cla-signed

#3194 Cherry-pick #3188: Fix isSynced function
  event/event.go
  sequencer/finalizer.go
  sequencesender/interfaces.go
  sequencesender/sequencesender.go
  state/pgstatestorage/batch.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3196 allow rpc to access the ForkID directly from DB
  cmd/run.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  state/config.go
  state/pgstatestorage/forkid.go
Labels: cla-signed

#3182 fix migration down; check for greater forkIDs instead of the next +1
  db/migrations/state/0009.sql
  state/pgstatestorage/forkid.go
  state/pgstatestorage/forkid_external_test.go
Labels: cla-signed

#3197 allow rpc to access the ForkID directly from DB
  cmd/run.go
  db/migrations/state/0009.sql
  state/pgstatestorage/forkid.go
  state/pgstatestorage/forkid_external_test.go
  state/pgstatestorage/forkid_test.go
Labels: cla-signed

#3201 Fix/3200 l1inforoot error on reorg
  cmd/run.go
  state/batchV2.go
  state/interfaces.go
  state/l1infotree.go
  state/l1infotree_test.go
  state/mocks/mock_storage.go
  state/pgstatestorage/pgstatestorage.go
  state/reset.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/state.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3206 Fix/3203 panic if batch process fail and must be closed
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_sync_test.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3210 Remove L1SynchronizationMode parameter from environments config files
  config/environments/cardona/node.config.toml
  config/environments/mainnet/node.config.toml
  config/environments/testnet/node.config.toml
Labels: cla-signed, zkevm-bridge-sync-rpc

#3207 cherry-pick Fix/3200 l1inforoot error on reorg (#3201)
  cmd/run.go
  state/batchV2.go
  state/interfaces.go
  state/l1infotree.go
  state/l1infotree_test.go
  state/mocks/mock_storage.go
  state/pgstatestorage/pgstatestorage.go
  state/reset.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/state.go
Labels: synchronizer, cla-signed, cherry-picked, zkevm-bridge-sync-rpc

#3214 cherry-pick Feature/3173 sync trusted state in networks previous to ETROG (#3175)
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/forkid.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/mocks/sync_trusted_state_executor.go
  synchronizer/common/syncinterfaces/state.go
  synchronizer/common/syncinterfaces/sync_trusted_state_executor.go
  synchronizer/l2_sync/l2_shared/mocks/state_sync_trusted_state_executor_selector.go
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_selector.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_selector_test.go
  synchronizer/l2_sync/l2_shared/trusted_batches_retrieve.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_incaberry/sync_trusted_state.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Labels: synchronizer, state, cla-signed, cherry-pick, zkevm-bridge-sync-rpc

#3216 cherry-pick Fix/3203 panic if batch process fail and must be closed (#3206)
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_sync_test.go
Labels: synchronizer, cla-signed, cherry-pick, zkevm-bridge-sync-rpc

#3193 Cherry-pick/3164 eth syncing dont return expected values (#3165)
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/l2block.go
  state/pgstatestorage/syncinginfo.go
  state/syncinginfo.go
  state/syncinginfo_test.go
Labels: state, rpc, cla-signed, cherry-pick, zkevm-bridge-sync-rpc

#3219 Fix L2 block gas limit to 2**50 (1125899906842624)
  config/config_test.go
  config/default.go
  config/environments/cardona/node.config.toml
  config/environments/local/local.node.config.toml
  config/environments/mainnet/node.config.toml
  config/environments/testnet/node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  state/convertersV2.go
  state/transaction.go
  test/benchmarks/sequencer/common/setup/setup.go
  test/config/test.node.config.toml
Labels: cla-signed, zkevm-seq-agg

#3220 RPC end point `eth_syncing` change 2^64-1 for an esmitation of blocks
  state/syncinginfo.go
  state/syncinginfo_test.go
Labels: state, rpc, cla-signed, zkevm-bridge-sync-rpc

#3221 removed restart RPC on deploy instructions
  docs/production-setup.md
Labels: documentation, cla-signed

#3222 Fix etrog im state root
  state/datastream.go
  tools/datastreamer/main.go
Labels: cla-signed

#3224 Cherry pick/3222
  state/datastream.go
  tools/datastreamer/main.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3223 Cherry-pick #3219: Fix L2 block gas limit to 2**50 (1125899906842624)
  config/config_test.go
  config/default.go
  config/environments/cardona/node.config.toml
  config/environments/local/local.node.config.toml
  config/environments/mainnet/node.config.toml
  config/environments/testnet/node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  state/convertersV2.go
  state/transaction.go
  test/benchmarks/sequencer/common/setup/setup.go
  test/config/test.node.config.toml
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3225 Add retries in isSynced function when last virtual batch is greater than last SC sequenced batch
  sequencesender/mock_etherman.go
  sequencesender/mock_ethtxmanager.go
  sequencesender/mock_state.go
  sequencesender/sequencesender.go
  sequencesender/sequencesender_test.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3218 permissionless: removed compatibility with trusted Incaberry
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_selector.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_selector_test.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3226 cherry-pick: end-point eth_syncing avoid returning a 2^64-1 that is not compatible with javascript
  state/syncinginfo.go
  state/syncinginfo_test.go
Labels: state, rpc, cla-signed, cherry-pick, zkevm-bridge-sync-rpc

#3227 synchronizer mode sequential by default
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
Labels: synchronizer, cla-signed, config, zkevm-bridge-sync-rpc

#3231 Cherry-pick #3225: add retries in isSynced function when last virtual batch is greater than last SC sequenced batch
  sequencesender/mock_etherman.go
  sequencesender/mock_ethtxmanager.go
  sequencesender/mock_state.go
  sequencesender/sequencesender.go
  sequencesender/sequencesender_test.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3234 Fix/3233 the etrog event UpdateEtrogSequence doesnt store the GER in batch table
  synchronizer/actions/etrog/processor_l1_update_etrog_sequence.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3230 Remove state.batch section from environments config files
  config/environments/cardona/node.config.toml
  config/environments/mainnet/node.config.toml
  config/environments/testnet/node.config.toml
Labels: cla-signed, config, cherry-picked, zkevm-seq-agg

#3213 Cherry pick PRs #3209 and #3197 into develop
  cmd/run.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm_test.go
  jsonrpc/mocks/mock_state.go
  jsonrpc/types/interfaces.go
  jsonrpc/types/types.go
  state/config.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/forkid.go
  state/pgstatestorage/forkid_external_test.go
  state/pgstatestorage/forkid_test.go
  state/pgstatestorage/transaction.go
Labels: cla-signed

#3238 Get GER for l2block on Etrog stream
  state/pgstatestorage/datastream.go
Labels: cla-signed, zkevm-seq-agg

#3240 Sequence batch only when sanity check is done. Do fatal for some finalizer halt events. Several fixes
  db/migrations/state/0016.sql
  db/migrations/state/0016_test.go
  sequencer/batch.go
  sequencer/errors.go
  sequencer/finalizer.go
  sequencer/forcedbatch.go
  sequencer/interfaces.go
  sequencer/l2block.go
  sequencer/mock_etherman.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  sequencesender/interfaces.go
  sequencesender/mock_state.go
  sequencesender/sequencesender.go
  state/datastream.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/batch.go
  test/Makefile
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3241 Cherry-pick #3240, #3137: Sequence batch only when sanity check is done. Do fatal for some finalizer halt events. Several fixes. Optmize purge pool
  db/migrations/state/0016.sql
  db/migrations/state/0016_test.go
  pool/interfaces.go
  pool/pgpoolstorage/pgpoolstorage.go
  sequencer/batch.go
  sequencer/errors.go
  sequencer/finalizer.go
  sequencer/forcedbatch.go
  sequencer/interfaces.go
  sequencer/l2block.go
  sequencer/mock_etherman.go
  sequencer/mock_pool.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  sequencesender/interfaces.go
  sequencesender/mock_state.go
  sequencesender/sequencesender.go
  state/datastream.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/batch.go
  state/pgstatestorage/transaction.go
  test/Makefile
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3202 fix im state root in stream (#3192)
  sequencer/datastreamer.go
  sequencer/sequencer.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3242 get GER for l2block on Etrog (#3238)
  state/pgstatestorage/datastream.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3244 cherry-pick Fix/3233 the etrog event UpdateEtrogSequence doesnt store the GER in batch table (#3234)
  synchronizer/actions/etrog/processor_l1_update_etrog_sequence.go
Labels: synchronizer, cla-signed, cherry-pick, zkevm-bridge-sync-rpc

#3245 Synchronized inform field state.batch.closing_reason from DB for ETROG
  state/batch.go
  state/batchV2.go
  state/convertersV2.go
  state/genesis.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/batch.go
  synchronizer/actions/etrog/processor_l1_sequence_batches.go
  synchronizer/actions/etrog/processor_l1_update_etrog_sequence.go
  synchronizer/l2_sync/l2_shared/mocks/state_sync_trusted_state_executor_selector.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
Labels: synchronizer, state, cla-signed, zkevm-bridge-sync-rpc

#3248 add zkevm_estimateGasPrice
  docs/json-rpc-endpoints.md
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm.openrpc.json
Labels: cla-signed

#3239 refactor gasUsed to validate break even gas price to match sequencer logic
  pool/pool.go
Labels: cla-signed

#3263 Fix node OOC
  event/event.go
  sequencer/finalizer.go
Labels: cla-signed, zkevm-seq-agg

#3261 fix loginfof
  aggregator/aggregator.go
Labels: cla-signed

#3266 fix error handling
  sequencer/finalizer.go
Labels: cla-signed

#3271 Close batch on OOG
  sequencer/finalizer.go
Labels: cla-signed

#3264 check unsupported precompiles
  docker-compose.yml
  event/event.go
  proto/src/proto/executor/v1/executor.proto
  sequencer/batch.go
  sequencer/finalizer.go
  state/convertersV2.go
  state/pgstatestorage/datastream.go
  state/runtime/executor/errors.go
  state/runtime/executor/executor.pb.go
  state/runtime/runtime.go
  state/test/forkid_etrog/etrog_test.go
  state/types.go
  test/contracts/auto/customModExp.sol
  test/docker-compose.yml
Labels: cla-signed, zkevm-seq-agg

#3272 fix RPC closebatch executor error
  sequencer/batch.go
  sequencer/finalizer_test.go
  sequencer/l2block.go
  state/batchV2.go
  state/trace.go
  state/transaction.go
Labels: cla-signed, zkevm-seq-agg

#3247 Cherry-pick #3230: Remove state.batch section from environments config files
  config/environments/cardona/node.config.toml
  config/environments/mainnet/node.config.toml
  config/environments/testnet/node.config.toml
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3276 fix executor error closebatch
  state/batchV2.go
Labels: cla-signed

#3277 add oog2 checks for all the oog cheks
  jsonrpc/endpoints_eth.go
  pool/pool.go
  state/trace.go
  state/transaction.go
Labels: cla-signed

#3279 Cherry-pick #3263, #3266: Fix node OOC. Fix error handling. Sanity check closing empty WIP batch
  event/event.go
  sequencer/batch.go
  sequencer/finalizer.go
  sequencer/finalizer_test.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3284 fix stream generation for old fork Ids
  state/pgstatestorage/datastream.go
Labels: cla-signed, zkevm-seq-agg

#3280 fix oog2 in internal gas estimation
  state/transaction.go
Labels: cla-signed

#3285 execution mode
  proto/src/proto/executor/v1/executor.proto
  sequencer/batch.go
  sequencer/finalizer.go
  sequencer/forcedbatch.go
  sequencer/l2block.go
  state/batchV2.go
  state/runtime/executor/client.go
  state/runtime/executor/executor.pb.go
  state/trace.go
  state/transaction.go
  state/types.go
  synchronizer/actions/etrog/processor_l1_sequence_batches.go
  synchronizer/actions/etrog/processor_l1_update_etrog_sequence.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_incaberry/sync_trusted_state.go
Labels: cla-signed, zkevm-seq-agg

#3286 update prover image
  docker-compose.yml
  test/docker-compose.yml
Labels: cla-signed, zkevm-seq-agg

#3287 Fix log when error on batch sanity check
  sequencer/batch.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3289 Update prover image to v4.0.13
  docker-compose.yml
  test/docker-compose.yml
Labels: cla-signed, zkevm-seq-agg

#3290 update prover image
  docker-compose.yml
  test/docker-compose.yml
Labels: cla-signed, zkevm-seq-agg

#3291 fix deltaTimestamp when debug tx
  sequencer/batch.go
  sequencer/finalizer.go
  sequencer/l2block.go
  state/batch.go
  state/trace.go
Labels: cla-signed

#3294 Fix checkStateInconsistency when starting sequencer
  sequencer/sequencer.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3295 Disable delete addrQueue as temporary workaround
  sequencer/worker.go
Labels: cla-signed, zkevm-seq-agg

#3302 Add aggregator wait L1block confirmations to generate proof of a virtual batch
  aggregator/aggregator.go
  aggregator/aggregator_test.go
  aggregator/config.go
  aggregator/interfaces.go
  aggregator/mocks/mock_etherman.go
  aggregator/mocks/mock_state.go
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/batch.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
Labels: cla-signed, config, cherry-picked, zkevm-seq-agg

#3314 Cherry-pick #3302: Add aggregator wait L1block confirmations to generate proof of a virtual batch
  aggregator/aggregator.go
  aggregator/aggregator_test.go
  aggregator/config.go
  aggregator/interfaces.go
  aggregator/mocks/mock_etherman.go
  aggregator/mocks/mock_state.go
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/batch.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
Labels: cla-signed, config, cherry-picked, zkevm-seq-agg

#3315 Cherry-pick #3294: Fix checkStateInconsistency when starting sequencer
  sequencer/sequencer.go
Labels: cla-signed, config, zkevm-seq-agg

#3316 Cherry-pick #3295: Disable delete addrQueue as temporary workaround
  sequencer/worker.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3317 Feature remove executor errors
  event/event.go
  jsonrpc/endpoints_eth.go
  pool/pool.go
  proto/src/proto/executor/v1/executor.proto
  sequencer/batch.go
  sequencer/finalizer.go
  sequencer/l2block.go
  state/batchV2.go
  state/convertersV2.go
  state/runtime/executor/errors.go
  state/runtime/executor/executor.pb.go
  state/runtime/executor/executor_grpc.pb.go
  state/runtime/runtime.go
  state/test/forkid_etrog/etrog_test.go
  state/trace.go
  state/transaction.go
  state/types.go
  test/contracts/auto/customModExp.sol
Labels: state, cla-signed, zkevm-seq-agg

#3323 Fix/seqsender elderberry
  sequencesender/sequencesender.go
Labels: cla-signed

#3321 add SkipVerifyL1InfoRoot as true when debug trace needs to provide the l1 info tree data
  state/trace.go
Labels: cla-signed

#3274 Fix null fields for pending blocks
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm_test.go
  jsonrpc/types/types.go
Labels: cla-signed

#3260 Add endpoint to estimate ZK Counters
  Dockerfile
  cmd/run.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  docs/json-rpc-endpoints.md
  jsonrpc/config.go
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm.openrpc.json
  jsonrpc/mocks/mock_state.go
  jsonrpc/types/interfaces.go
  jsonrpc/types/types.go
  state/errors.go
  state/transaction.go
  test/e2e/jsonrpc1_test.go
Labels: cla-signed

#3327 add zkevm_estimateGasPrice (#3248)
  docs/json-rpc-endpoints.md
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm.openrpc.json
  test/e2e/debug_calltracer_test.go
Labels: cla-signed

#3301 support to elderberry fork
  docker-compose.yml
  etherman/etherman.go
  etherman/etherman_test.go
  etherman/smartcontracts/abi/etrogpolygonzkevm.abi
  etherman/smartcontracts/abi/polygonzkevm.abi
  etherman/smartcontracts/bin/etrogpolygonzkevm.bin
  etherman/smartcontracts/bin/polygonzkevm.bin
  etherman/smartcontracts/etrogpolygonzkevm/etrogpolygonzkevm.go
  etherman/smartcontracts/polygonzkevm/polygonzkevm.go
  etherman/smartcontracts/script.sh
  etherman/types.go
  etherman/types/sequence.go
  sequencesender/interfaces.go
  sequencesender/mock_etherman.go
  sequencesender/sequencesender.go
  synchronizer/actions/elderberry/elderberry.go
  synchronizer/actions/elderberry/mocks/previous_processor.go
  synchronizer/actions/elderberry/mocks/state_l1_sequence_batches_elderberry.go
  synchronizer/actions/elderberry/processor_l1_sequence_batches.go
  synchronizer/actions/elderberry/processor_l1_sequence_batches_test.go
  synchronizer/actions/etrog/processor_l1_sequence_batches.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/state.go
  synchronizer/default_l1processors.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
  test/Makefile
  test/config/test.genesis.config.json
  test/config/test.node.config.toml
  test/docker-compose.yml
  test/e2e/jsonrpc2_test.go
  test/e2e/shared.go
  test/scripts/batchsender/main.go
Labels: sequencer, synchronizer, etherman, cla-signed, zkevm-bridge-sync-rpc, zkevm-seq-agg

#3335 Get last l2 block in a batch by batch number
  sequencesender/interfaces.go
  sequencesender/mock_state.go
  sequencesender/sequencesender.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/l2block.go
Labels: cla-signed, zkevm-seq-agg

#3334 cherry-pick support to elderberry fork (#3301)
  docker-compose.yml
  etherman/etherman.go
  etherman/etherman_test.go
  etherman/smartcontracts/abi/etrogpolygonzkevm.abi
  etherman/smartcontracts/abi/polygonzkevm.abi
  etherman/smartcontracts/bin/etrogpolygonzkevm.bin
  etherman/smartcontracts/bin/polygonzkevm.bin
  etherman/smartcontracts/etrogpolygonzkevm/etrogpolygonzkevm.go
  etherman/smartcontracts/polygonzkevm/polygonzkevm.go
  etherman/smartcontracts/script.sh
  etherman/types.go
  etherman/types/sequence.go
  sequencesender/interfaces.go
  sequencesender/mock_etherman.go
  sequencesender/sequencesender.go
  synchronizer/actions/elderberry/elderberry.go
  synchronizer/actions/elderberry/mocks/previous_processor.go
  synchronizer/actions/elderberry/mocks/state_l1_sequence_batches_elderberry.go
  synchronizer/actions/elderberry/processor_l1_sequence_batches.go
  synchronizer/actions/elderberry/processor_l1_sequence_batches_test.go
  synchronizer/actions/etrog/processor_l1_sequence_batches.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/state.go
  synchronizer/default_l1processors.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
  test/Makefile
  test/config/test.genesis.config.json
  test/config/test.node.config.toml
  test/docker-compose.yml
  test/e2e/jsonrpc2_test.go
  test/e2e/shared.go
  test/scripts/batchsender/main.go
Labels: aggregator, sequencer, synchronizer, cla-signed, cherry-pick, zkevm-bridge-sync-rpc, zkevm-seq-agg

#3332 executor errors
  event/event.go
  proto/src/proto/executor/v1/executor.proto
  sequencer/finalizer.go
  sequencer/l2block.go
  state/convertersV2.go
  state/runtime/executor/errors.go
  state/runtime/executor/executor.pb.go
  state/runtime/executor/executor_grpc.pb.go
  state/runtime/runtime.go
  state/transaction.go
Labels: cherry-pick, zkevm-seq-agg

#3336 add selector for trusted sync to prevent from executing from an old trusted node
  etherman/etherman_test.go
  state/forkid.go
  synchronizer/actions/elderberry/processor_l1_sequence_batches.go
  synchronizer/common/syncinterfaces/sync_trusted_state_executor.go
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_selector.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_selector_test.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3341 cherry-pick: add selector for trusted sync to prevent from executing from an old trusted node from v0.6.0 (#3336)
  etherman/etherman_test.go
  state/forkid.go
  synchronizer/actions/elderberry/processor_l1_sequence_batches.go
  synchronizer/common/syncinterfaces/sync_trusted_state_executor.go
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_selector.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_selector_test.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Labels: synchronizer, cla-signed, cherry-pick, zkevm-bridge-sync-rpc

#3343 reserved zk counters
  docker-compose.yml
  pool/config_test.go
  pool/pgpoolstorage/pgpoolstorage.go
  pool/transaction.go
  proto/src/proto/executor/v1/executor.proto
  sequencer/batch.go
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/forcedbatch.go
  sequencer/l2block.go
  sequencer/txtracker.go
  sequencer/worker.go
  sequencer/worker_test.go
  state/config.go
  state/converters.go
  state/convertersV2.go
  state/pgstatestorage/pgstatestorage_test.go
  state/runtime/executor/executor.pb.go
  state/types.go
  test/docker-compose.yml
Labels: cla-signed, zkevm-seq-agg

#3339 Get last l2 block in a batch by batch number (#3335)
  sequencesender/interfaces.go
  sequencesender/mock_state.go
  sequencesender/sequencesender.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/l2block.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3338 Nonce too low fix
  etherman/etherman.go
  ethtxmanager/ethtxmanager.go
  ethtxmanager/ethtxmanager_test.go
  ethtxmanager/interfaces.go
  ethtxmanager/mock_etherman_test.go
  ethtxmanager/pgstorage.go
  ethtxmanager/pgstorage_test.go
Labels: cla-signed

#3346 Add reserved zk counters to pool transactions
  db/migrations/pool/0013.sql
  db/migrations/pool/0013_test.go
  pool/interfaces.go
  pool/pgpoolstorage/pgpoolstorage.go
  pool/pool.go
  sequencer/interfaces.go
  sequencer/mock_pool.go
  synchronizer/l2_sync/l2_shared/mocks/state_sync_trusted_state_executor_selector.go
Labels: cla-signed, pool, zkevm-seq-agg

#3350 Merge v0.5.13 into v0.6.0
  Dockerfile
  cmd/run.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  docs/json-rpc-endpoints.md
  jsonrpc/config.go
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm.openrpc.json
  jsonrpc/endpoints_zkevm_test.go
  jsonrpc/mocks/mock_state.go
  jsonrpc/types/interfaces.go
  jsonrpc/types/types.go
  state/errors.go
  state/pgstatestorage/pgstatestorage.go
  state/pgstatestorage/transaction.go
  state/trace.go
  state/transaction.go
  test/e2e/debug_calltracer_test.go
  test/e2e/jsonrpc1_test.go
  test/e2e/sc_test.go
Labels: cla-signed

#3353 Update reserved counters with used in pool db during migration (#3352)
  db/migrations/pool/0013.sql
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3347 fix initial sequenced batch event
  etherman/etherman.go
  synchronizer/actions/actions.go
  synchronizer/actions/elderberry/elderberry.go
  synchronizer/actions/elderberry/processor_l1_initial_sequence_batches.go
  synchronizer/actions/elderberry/processor_l1_sequence_batches.go
  synchronizer/actions/etrog/etrog.go
  synchronizer/actions/etrog/processor_l1_sequence_batches.go
  synchronizer/actions/etrog/processor_l1_update_etrog_sequence.go
  synchronizer/actions/forksids.go
  synchronizer/actions/incaberry/incaberry.go
  synchronizer/actions/processor_base.go
  synchronizer/default_l1processors.go
  synchronizer/l1event_orders/sequence_extractor.go
  synchronizer/synchronizer.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3348 Add executor reserved ZK counters
  docker-compose.yml
  event/event.go
  sequencer/addrqueue.go
  sequencer/batch.go
  sequencer/errors.go
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/forcedbatch.go
  sequencer/interfaces.go
  sequencer/l2block.go
  sequencer/mock_worker.go
  sequencer/sequencer.go
  sequencer/txtracker.go
  sequencer/worker.go
  sequencer/worker_test.go
  state/pgstatestorage/pgstatestorage_test.go
  state/types.go
  test/docker-compose.yml
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3359 Fix return on node OOC. Fix logs
  event/event.go
  sequencer/finalizer.go
  sequencer/l2block.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3355 cherry pick v0.5.13 into develop
  Dockerfile
  cmd/run.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  docs/json-rpc-endpoints.md
  jsonrpc/config.go
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm.openrpc.json
  jsonrpc/endpoints_zkevm_test.go
  jsonrpc/mocks/mock_state.go
  jsonrpc/types/interfaces.go
  jsonrpc/types/types.go
  sequencer/batch.go
  sequencer/finalizer.go
  sequencer/l2block.go
  state/batch.go
  state/errors.go
  state/pgstatestorage/pgstatestorage.go
  state/pgstatestorage/transaction.go
  state/trace.go
  state/transaction.go
  test/e2e/jsonrpc1_test.go
  test/e2e/sc_test.go
Labels: cla-signed

#3342 cherry-pick: synchronizer adopt GetLastL2BlockByBatchNumber to check elderberry tstamp baches (#3340)
  synchronizer/actions/elderberry/mocks/state_l1_sequence_batches_elderberry.go
  synchronizer/actions/elderberry/processor_l1_sequence_batches.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/state.go
  test/Makefile
Labels: synchronizer, cla-signed, cherry-pick, zkevm-bridge-sync-rpc

#3362 cherry-pick: to decode ETROG processBatches use ETROG contract (#3360)
  etherman/etherman.go
  synchronizer/synchronizer.go
Labels: synchronizer, cla-signed, cherry-picked, zkevm-bridge-sync-rpc

#3358 Cherry-pick #3348: Add executor reserved ZK counters
  docker-compose.yml
  event/event.go
  sequencer/addrqueue.go
  sequencer/batch.go
  sequencer/errors.go
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/forcedbatch.go
  sequencer/interfaces.go
  sequencer/l2block.go
  sequencer/mock_worker.go
  sequencer/sequencer.go
  sequencer/txtracker.go
  sequencer/worker.go
  sequencer/worker_test.go
  state/pgstatestorage/pgstatestorage_test.go
  state/types.go
  test/docker-compose.yml
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3366 cherry-pick: Synchronized inform field state.batch.closing_reason from DB
  state/batch.go
  state/batchV2.go
  state/convertersV2.go
  state/genesis.go
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/batch.go
  synchronizer/actions/etrog/processor_l1_sequence_batches.go
  synchronizer/actions/etrog/processor_l1_update_etrog_sequence.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3367 Cherry-pick #3359: Fix return on node OOC. Fix logs
  event/event.go
  sequencer/finalizer.go
  sequencer/l2block.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3365 remove unnecessary eventlog call when processing unsigned txs
  state/transaction.go
Labels: cla-signed

#3369 remove unnecessary eventlog call when processing unsigned txs (#3365)
  state/transaction.go
Labels: cla-signed

#3370 synchronizer accepts empty closed batches from trusted
  cmd/run.go
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  jsonrpc/client/zkevm_test.go
  synchronizer/config.go
  synchronizer/l2_sync/config.go
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_sync_test.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync_test.go
  synchronizer/synchronizer.go
Labels: synchronizer, cla-signed, config, zkevm-bridge-sync-rpc

#3354 update egp tool
  tools/egp/cfg/egp0.config.toml
  tools/egp/cfg/egp1.config.toml
  tools/egp/cfg/egp2.config.toml
  tools/egp/main.go
Labels: cla-signed, zkevm-seq-agg

#3372 update debug config; update compiled SCs; add debug scripts
  test/config/debug.node.config.toml
  test/contracts/bin/customModExp/customModExp.go
  test/contracts/bin/triggerErrors/triggerErrors.go
  test/scripts/deploy_sc/main.go
  test/scripts/hash_compare/main.go
  test/scripts/hash_gen/main.go
  test/scripts/http_ws_sync/main.go
Labels: cla-signed

#3383 ignore forkid events from another rollup
  etherman/etherman.go
Labels: synchronizer, cla-signed, cherry-pick, zkevm-bridge-sync-rpc, cdk

#3382 ignore forkid events from another rollup
  etherman/etherman.go
Labels: synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3380 Add l2block/interval metrics. Use timeoutCond when waiting for worker ready txs
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencer/batch.go
  sequencer/config.go
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/forcedbatch.go
  sequencer/l2block.go
  sequencer/metrics.go
  sequencer/metrics/metrics.go
  sequencer/sequencer.go
  sequencer/timeoutCond.go
  sequencer/worker.go
  sequencer/worker_test.go
  sequencesender/sequencesender.go
  test/benchmarks/sequencer/common/metrics/metrics.go
  test/benchmarks/sequencer/common/params/constants.go
  test/benchmarks/sequencer/common/params/variables.go
  test/benchmarks/sequencer/common/setup/setup.go
  test/benchmarks/sequencer/common/transactions/transactions.go
  test/benchmarks/sequencer/e2e/erc20-transfers/deployment.go
  test/benchmarks/sequencer/e2e/erc20-transfers/erc20_test.go
  test/benchmarks/sequencer/e2e/erc20-transfers/tx_sender.go
  test/benchmarks/sequencer/e2e/eth-transfers/eth_test.go
  test/benchmarks/sequencer/e2e/eth-transfers/tx_sender.go
  test/benchmarks/sequencer/e2e/uniswap-transfers/tx_sender.go
  test/benchmarks/sequencer/e2e/uniswap-transfers/uniswap_test.go
  test/benchmarks/sequencer/scripts/.env.example
  test/benchmarks/sequencer/scripts/README.md
  test/benchmarks/sequencer/scripts/environment/constants.go
  test/benchmarks/sequencer/scripts/environment/init.go
  test/benchmarks/sequencer/scripts/erc20-transfers/main.go
  test/benchmarks/sequencer/scripts/eth-transfers/main.go
  test/benchmarks/sequencer/scripts/main.go
  test/benchmarks/sequencer/scripts/uniswap-transfers/main.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
Labels: cla-signed, config, cherry-picked, zkevm-seq-agg

#3374 sync reprocess full batch on close, check GER, and fix minor bugs
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  state/batch.go
  state/pgstatestorage/l2block.go
  synchronizer/ext_control.go
  synchronizer/l2_sync/config.go
  synchronizer/l2_sync/l2_shared/mocks/l1_sync_global_exit_root_checker.go
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_sync_test.go
  synchronizer/l2_sync/l2_sync_etrog/check_sync_status_to_process_batch.go
  synchronizer/l2_sync/l2_sync_etrog/check_sync_status_to_process_batch_test.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync_test.go
  synchronizer/l2_sync/l2_sync_etrog/mocks/l1_sync_checker.go
  synchronizer/l2_sync/l2_sync_etrog/mocks/state_interface.go
  synchronizer/synchronizer.go
Labels: synchronizer, cla-signed, config, zkevm-bridge-sync-rpc

#3384 Feature/cherry pick 3370 3374 synchronizer
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  jsonrpc/client/zkevm_test.go
  state/batch.go
  state/pgstatestorage/l2block.go
  synchronizer/config.go
  synchronizer/ext_control.go
  synchronizer/l2_sync/config.go
  synchronizer/l2_sync/l2_shared/mocks/l1_sync_global_exit_root_checker.go
  synchronizer/l2_sync/l2_shared/processor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_shared/tests/processor_trusted_batch_sync_test.go
  synchronizer/l2_sync/l2_sync_etrog/check_sync_status_to_process_batch.go
  synchronizer/l2_sync/l2_sync_etrog/check_sync_status_to_process_batch_test.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync_test.go
  synchronizer/l2_sync/l2_sync_etrog/mocks/l1_sync_checker.go
  synchronizer/l2_sync/l2_sync_etrog/mocks/state_interface.go
  synchronizer/synchronizer.go
Labels: synchronizer, cla-signed, config, cherry-pick, zkevm-bridge-sync-rpc

#3385 Fix metrics cleanup
  sequencer/metrics.go
Labels: sequencer, cherry-picked, zkevm-seq-agg

#3379 Fix batch 0 timestamp (#3364)
  state/genesis.go
  state/pgstatestorage/forkid.go
  state/test/forkid_dragonfruit/genesis_test.go
  state/test/forkid_etrog/genesis_test.go
  state/test/forkid_independent/independent_test.go
Labels: cla-signed

#3391 add priority ratio when transfers
  tools/egp/main.go
Labels: cla-signed, zkevm-seq-agg

#3393 Fix check poseidonHashes exhausted for the WIP batch
  sequencer/batch.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3392 fix etherman.GetForks
  etherman/etherman.go
Labels: synchronizer, etherman, cla-signed, zkevm-bridge-sync-rpc, cdk

#3395 remove execution mode
  proto/src/proto/executor/v1/executor.proto
  sequencer/batch.go
  sequencer/finalizer.go
  sequencer/forcedbatch.go
  sequencer/l2block.go
  state/batchV2.go
  state/runtime/executor/client.go
  state/runtime/executor/executor.pb.go
  state/trace.go
  state/transaction.go
  synchronizer/actions/etrog/processor_l1_sequence_batches.go
  synchronizer/actions/etrog/processor_l1_update_etrog_sequence.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_incaberry/sync_trusted_state.go
Labels: cla-signed, zkevm-seq-agg

#3256 mainnet genesis for etrog
  config/mainnetgenesis.go
Labels: cla-signed, config, zkevm-bridge-sync-rpc

#3396 Fix metrics estimatedTxsPerSec
  sequencer/metrics.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3398 Fix metrics estimatedTxsPerSec division
  sequencer/metrics.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3399 Cherry-pick #3385, #3396, #3398: Fix metrics cleanup. Fix metrics estimatedTxsPerSec
  sequencer/metrics.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3402 Cherry-pick #3393: Fix check poseidonHashes exhausted for the WIP batch
  sequencer/batch.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3403 Get IM State root from receipt for data stream. (#3400)
  state/datastream.go
  state/pgstatestorage/datastream.go
  tools/datastreamer/main.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg
