Repository 0xPolygonHermez/zkevm-node, pull requests merged in 2024-07, with the labels that each got.

#3724 improve DS tool cache generation
  tools/datastreamer/config/default.go
  tools/datastreamer/config/tool.config.toml
  tools/datastreamer/main.go
Labels: datastream

#3722 use dbTx in SequentialBatchSanityCheck
  sequencer/batch.go
  sequencer/finalizer_test.go
Labels: cla-signed

#3731 Synchronizer: add support forkid10 forkid11
  state/forkid.go
  synchronizer/actions/forksids.go
Labels: synchronizer, cla-signed

#3727 Kill inactive datastream clients
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  go.mod
  go.sum
  sequencer/config.go
  sequencer/sequencer.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
  tools/datastreamer/config/config.go
  tools/datastreamer/config/tool.config.toml
  tools/datastreamer/main.go
Labels: cla-signed, config, cherry-picked, zkevm-seq-agg

#3734 Add mined L1blocknumber to MonitoredTxResult
  ethtxmanager/ethtxmanager.go
  ethtxmanager/monitoredtx.go
  sequencesender/sequencesender.go
  state/forkid.go
  synchronizer/actions/forksids.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3735 Wait the state to be synced when starting aggregator
  aggregator/aggregator.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3741 Fix update datastream file
  state/datastream.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3740 fix tracer previous step memory pointers
  state/runtime/instrumentation/tracers/structlogger/structlogger.go
  state/trace.go
  test/contracts/auto/Sha.sol
  test/contracts/bin/Sha/Sha.go
  test/contracts/bin/triggerErrors/triggerErrors.go
  test/e2e/debug_calltracer_test.go
  test/e2e/debug_shared.go
  test/e2e/debug_test.go
Labels: cla-signed

#3743 Refactor datastream logs
  go.mod
  go.sum
Labels: cla-signed, cherry-picked, zkevm-seq-agg
