Repository 0xPolygonHermez/zkevm-node, pull requests merged in 2024-05, with the labels that each got.

#3612 proto batch end
  proto/src/proto/datastream/v1/datastream.proto
  sequencer/batch.go
  sequencer/datastreamer.go
  sequencer/sequencer.go
  state/datastream.go
  state/datastream/datastream.pb.go
  tools/datastreamer/main.go
Labels: zkevm-seq-agg

#3615 fix genesis DS
  state/datastream.go
Labels: cla-signed

#3614 fix #3613 timestamp needs to be greater or equal
  state/interfaces.go
  state/mocks/mock_storage.go
  state/pgstatestorage/batch.go
  synchronizer/actions/etrog/processor_l1_sequence_batches.go
  synchronizer/actions/etrog/processor_l1_sequence_batches_test.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/state.go
  synchronizer/synchronizer_test.go
Labels: bug, synchronizer, cla-signed, zkevm-bridge-sync-rpc

#3616 Fix DSSendL2Block batch number
  sequencer/l2block.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg, datastream

#3621 Fix DSSendBatchEnd batch values
  sequencer/batch.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3611 add TxFeeCap config
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  pool/config.go
  pool/pool.go
  pool/pool_test.go
Labels: cla-signed, config

#3625 Add delay when getting storedFlushId from the executor/hashdb
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencer/config.go
  sequencer/finalizer.go
  sequencer/l2block.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
Labels: cla-signed, config, cherry-picked, zkevm-seq-agg

#3637 Cherry-pick #3604: Sequencer L2 block parallel processing improvements
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  db/migrations/state/0021.sql
  db/migrations/state/0021_test.go
  db/migrations/state/0022.sql
  db/migrations/state/0022_test.go
  db/migrations/state/0023.sql
  db/migrations/state/0023_test.go
  db/migrations/state/0024.sql
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  event/event.go
  go.mod
  go.sum
  sequencer/addrqueue.go
  sequencer/addrqueue_test.go
  sequencer/batch.go
  sequencer/config.go
  sequencer/datastreamer.go
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/forcedbatch.go
  sequencer/interfaces.go
  sequencer/l2block.go
  sequencer/metrics.go
  sequencer/mock_state.go
  sequencer/mock_worker.go
  sequencer/sequencer.go
  sequencer/waitgroupcount.go
  sequencer/worker.go
  sequencer/worker_test.go
  state/batch.go
  state/batchV2.go
  state/pgstatestorage/batch.go
  state/test/forkid_etrog/etrog_test.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/state.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync_test.go
  synchronizer/l2_sync/l2_sync_etrog/mocks/state_interface.go
  synchronizer/synchronizer_test.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
  test/docker-compose.yml
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3642 Fix use of L2coinbase configured in sequencesender.L2Coinbase parameter
  cmd/run.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencer/batch.go
  sequencer/config.go
  sequencer/datastreamer.go
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/forcedbatch.go
  sequencer/sequencer.go
Labels: bug, cla-signed, cherry-picked, zkevm-seq-agg

#3641 Feature/3640 synchronizer choose to sync from l2
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  synchronizer/l2_sync/config.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Labels: synchronizer, cla-signed, config, zkevm-bridge-sync-rpc

#3651 Cherry-pick #3625: Add delay when getting storedFlushId from the executor/hashdb
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencer/config.go
  sequencer/finalizer.go
  sequencer/l2block.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3650 Do fatal when datastream channel is full (workaround to fix datastream blocking issue)
  go.mod
  go.sum
  sequencer/batch.go
  sequencer/datastreamer.go
  sequencer/finalizer.go
  sequencer/forcedbatch.go
  sequencer/l2block.go
  sequencer/sequencer.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3656 change synchronization config params 'Enable' to 'Enabled'
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  synchronizer/config.go
  synchronizer/l2_sync/config.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Labels: synchronizer, cla-signed, config, zkevm-bridge-sync-rpc

#3649 Cherry-pick: Feature/3640 synchronizer choose to sync from l2 (#3641)
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  synchronizer/config.go
  synchronizer/l2_sync/config.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Labels: synchronizer, cla-signed, config, cherry-pick, zkevm-bridge-sync-rpc

#3654 Cherry-pick #3650: Do fatal when datastream channel is full (workaround to fix datastream blocking issue)
  go.mod
  go.sum
  sequencer/batch.go
  sequencer/datastreamer.go
  sequencer/finalizer.go
  sequencer/forcedbatch.go
  sequencer/l2block.go
  sequencer/sequencer.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3653 add optimistic gas computation while estimating gas
  state/test/forkid_common/common.go
  state/transaction.go
  test/e2e/jsonrpc1_test.go
Labels: cla-signed

#3658 remove synchronizer dependency from eth tx manager to confirm monitored tx
  ethtxmanager/ethtxmanager.go
  ethtxmanager/ethtxmanager_test.go
Labels: cla-signed

#3659 Remove sync with virtual state (synchronizer). Add L1 block confirmat…
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencesender/config.go
  sequencesender/sequencesender.go
  sequencesender/sequencesender_test.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
Labels: cla-signed, config, cherry-picked, zkevm-seq-agg

#3661 Use Eth block hash for l2 blocks in data stream
  sequencer/datastreamer.go
  sequencer/forcedbatch.go
  sequencer/interfaces.go
  sequencer/l2block.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  state/batchV2.go
  state/datastream.go
  state/transaction.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/state.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_etrog/mocks/state_interface.go
  synchronizer/synchronizer_test.go
Labels: cla-signed

#3663 empty imStateRoot
  sequencer/sequencer.go
  state/datastream.go
Labels: cla-signed

#3662 Skip wait L1 block confirmations after restart
  sequencesender/sequencesender.go
Labels: cla-signed, cherry-picked, zkevm-seq-agg

#3666 Cherry-pick #3659,#3662: Remove sync with virtual state (synchronizer). Add L1 block confirmations
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencesender/config.go
  sequencesender/sequencesender.go
  sequencesender/sequencesender_test.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3667 Cherry-pick #3659, #3662: Remove sync with virtual state (synchronizer). Add L1 block confirmation
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencesender/config.go
  sequencesender/sequencesender.go
  sequencesender/sequencesender_test.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
Labels: cla-signed, cherry-pick, zkevm-seq-agg
