Repository 0xPolygonHermez/zkevm-node, pull requests merged in 2024-06, with the labels that each got.

#3681 remove db tx from RPC (#3648)
  jsonrpc/dbtxmanager.go
  jsonrpc/dbtxmanager_test.go
  jsonrpc/endpoints_debug.go
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm_test.go
  jsonrpc/mocks/mock_dbtx.go
  jsonrpc/server_test.go
  jsonrpc/types/codec_test.go
  test/Makefile
Labels: cla-signed

#3671 Cherry pick data stream modifications from 0.7.0 into develop
  Makefile
  proto/src/proto/datastream/v1/datastream.proto
  sequencer/batch.go
  sequencer/datastreamer.go
  sequencer/finalizer_test.go
  sequencer/forcedbatch.go
  sequencer/interfaces.go
  sequencer/l2block.go
  sequencer/mock_state.go
  sequencer/sequencer.go
  state/batchV2.go
  state/datastream.go
  state/datastream/datastream.pb.go
  state/pgstatestorage/datastream.go
  state/test/datastream_test.go
  state/transaction.go
  synchronizer/common/syncinterfaces/mocks/state_full_interface.go
  synchronizer/common/syncinterfaces/state.go
  synchronizer/l2_sync/l2_sync_etrog/executor_trusted_batch_sync.go
  synchronizer/l2_sync/l2_sync_etrog/mocks/state_interface.go
  synchronizer/synchronizer_test.go
  test/docker-compose.yml
  tools/datastreamer/Makefile
  tools/datastreamer/config/tool.config.toml
  tools/datastreamer/main.go
Labels: cla-signed, cherry-pick

#3683 remove db tx from RPC (#3648)
  jsonrpc/dbtxmanager.go
  jsonrpc/dbtxmanager_test.go
  jsonrpc/endpoints_debug.go
  jsonrpc/endpoints_eth.go
  jsonrpc/endpoints_eth_test.go
  jsonrpc/endpoints_zkevm.go
  jsonrpc/endpoints_zkevm_test.go
  jsonrpc/mocks/mock_dbtx.go
  jsonrpc/server_test.go
  jsonrpc/types/codec_test.go
  test/Makefile
Labels: cla-signed

#3673 add TxFeeCap config (#3611)
  config/config_test.go
  config/default.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  pool/config.go
  pool/pool.go
  pool/pool_test.go
Labels: cla-signed

#3675 add optimistic gas computation while estimating gas (#3653)
  state/transaction.go
  test/e2e/jsonrpc1_test.go
Labels: cla-signed

#3669 Add WriteTimeout config parameter to StreamServer
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  go.mod
  go.sum
  sequencer/config.go
  sequencer/l2block.go
  sequencer/sequencer.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
  tools/datastreamer/config/config.go
  tools/datastreamer/config/tool.config.toml
  tools/datastreamer/main.go
Labels: cla-signed, config, cherry-picked, zkevm-seq-agg

#3692 Cherry-pick #3625: Add delay when getting storedFlushId from the executor/hashdb
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencer/config.go
  sequencer/finalizer.go
  sequencer/l2block.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3695 Cherry-pick #3642: Fix use of L2coinbase configured in sequencesender.L2Coinbase parameter
  cmd/run.go
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  sequencer/batch.go
  sequencer/config.go
  sequencer/datastreamer.go
  sequencer/finalizer.go
  sequencer/finalizer_test.go
  sequencer/forcedbatch.go
  sequencer/sequencer.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3698 change imstateroot handling in DS
  sequencer/sequencer.go
  state/datastream.go
Labels: cla-signed, datastream

#3697 Cherry-pick #3659: Do fatal when datastream channel is full (workaround to fix datastrea…
  go.mod
  go.sum
  sequencer/batch.go
  sequencer/datastreamer.go
  sequencer/finalizer.go
  sequencer/sequencer.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3699 change imstateroot handling in DS (#3698)
  sequencer/sequencer.go
  state/datastream.go
Labels: cherry-pick, datastream

#3701 Cherry-pick #3669: Add WriteTimeout config parameter to StreamServer
  config/config_test.go
  config/default.go
  config/environments/local/local.node.config.toml
  docs/config-file/node-config-doc.html
  docs/config-file/node-config-doc.md
  docs/config-file/node-config-schema.json
  go.mod
  go.sum
  sequencer/config.go
  sequencer/l2block.go
  sequencer/sequencer.go
  test/config/debug.node.config.toml
  test/config/test.node.config.toml
  tools/datastreamer/config/config.go
  tools/datastreamer/config/tool.config.toml
  tools/datastreamer/main.go
Labels: cla-signed, cherry-pick, zkevm-seq-agg

#3714 disable MT in DS Tool
  tools/datastreamer/config/default.go
  tools/datastreamer/config/tool.config.toml
  tools/datastreamer/main.go
Labels: cla-signed, datastream

#3715 Print BatchL2Data from DS
  tools/datastreamer/Makefile
  tools/datastreamer/README.md
  tools/datastreamer/main.go
Labels: cla-signed
